
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Canteen Automation System</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--

    Template 2076 Zentro

    http://www.tooplate.com/view/2076-zentro

    -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/nivo-lightbox.css">
    <link rel="stylesheet" href="~/css/nivo_themes/default/default.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
</head>
<body>


    <!-- navigation section -->
    <section class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Canteen Automation System</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Chef/Index" class="smoothScroll">ALL ORDERS</a></li>
                    <li><a href="/Chef/PendingOrders" class="smoothScroll">PENDING ORDERS</a></li>
                    <li><a href="/Chef/CompletedOrders" class="smoothScroll">COMPLETE ORDERS</a></li>
                    <li><a href="/Home/Login" class="smoothScroll">LOGOUT</a></li>
                    
                </ul>
            </div>
        </div>
    </section>


    <!-- home section -->
    <section id="home" class="parallax-section" style="height:400px">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1>CANTEEN AUTOMATION SYSTEM</h1>
				<h2>CHEF</h2>
                </div>
            </div>
        </div>
    </section>

    @RenderBody();


    <!-- footer section -->
    <footer class="parallax-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                    <h2 class="heading">Contact Info.</h2>
                    <div class="ph">
                        <p><i class="fa fa-phone"></i> Phone</p>
                        <h4>0900-786-01</h4>
                    </div>
                    <div class="address">
                        <p><i class="fa fa-map-marker"></i> Our Location</p>
                        <h4>120 Duis aute irure, California, USA</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                    <h2 class="heading">Open Hours</h2>
                    <p>Sunday <span>10:30 AM - 10:00 PM</span></p>
                    <p>Mon-Fri <span>9:00 AM - 8:00 PM</span></p>
                    <p>Saturday <span>11:30 AM - 10:00 PM</span></p>
                </div>
                <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                </div>
            </div>
        </div>
    </footer>


    <!-- copyright section -->
    <section id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3>CANTEEN AUTOMATION SYSTEM</h3>
                    <p>
                        Copyright © CANTEEN AUTOMATION SYSTEM

                        | Design: <a rel="nofollow" href="http://www.tooplate.com" target="_parent">CAS TEAM</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- JAVASCRIPT JS FILES -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.parallax.js"></script>
    <script src="~/js/smoothscroll.js"></script>
    <script src="~/js/nivo-lightbox.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/custom.js"></script>

</body>
</html>
