
@{
    
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<style>
    .table {
        padding: 40px;
    }
    .writings{
        padding-top:50px;
        padding-left:50px;
        padding-right:50px;
    }
   
    
</style>



<div style="height:30px"></div>

<div style="padding-left:40px; padding-right:40px">
    <h2 style="padding-bottom: 40px;">Detail of Orders</h2>
    <table class="table table-bordered table-responsive table-hover">
        <tr class="table">
            <th>Name </th>
            <th>Quantity</th>
         
        </tr>
        <tr>
            <td>Burger</td>
            <td>2</td>
           

        </tr>
        <tr>
            <td>Fries</td>
            <td>3</td>
            
        </tr>
        <tr>
            <td>Coke</td>
            <td>2</td>
            
        </tr>
     

    </table>
</div>
<div style="height:40px"></div>

<utton type="button" class="btn btn-light" onclick="window.location='/Chef/Index'">BACK</utton>

