
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Food Cart</h2>


<style>
    .table {
        padding: 40px;
    }
</style>

<div style="height:60px"></div>

<div style="padding-left:40px; padding-right:40px">
    <table class="table table-bordered table-responsive table-hover">
        <tr class="table">
            <th>Name </th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        <tr>
            <td>Burger</td>
            <td>What could be the description</td>
            <td>40.98</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Burger</td>
            <td>What could be the description</td>
            <td>40.98</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Burger</td>
            <td>What could be the description</td>
            <td>40.98</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Burger</td>
            <td>What could be the description</td>
            <td>40.98</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Burger</td>
            <td>What could be the description</td>
            <td>40.98</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Burger</td>
            <td>What could be the description</td>
            <td>40.98</td>
            <td>5</td>
        </tr>

    </table>
    <p>Your Total Bill</p>
    <p>589.09 $</p>
</div>
<div style="height:60px"></div>