
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .table{
        padding:40px;
    }
</style>

<div style="height:60px"></div>

<div style="padding-left:40px; padding-right:40px">
    <table class="table table-bordered table-responsive table-hover">
        <tr class="table">
            <th>Name </th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Add to Cart </th>
        </tr>
        <tr>
            <td>Burger</td>
            <td>What could be the description</td>
            <td>40.98</td>
            <td><input type="number" name="quantity" value="0" min="0" max="5"></td>
            <td><button class="editbtn">Add to Cart</button></td>

        </tr>
        <tr>
            <td>Burger</td>
            <td>What could be the description</td>
            <td>40.98</td>
            <td><input type="number" name="quantity" value="0" min="0" max="5"></td>
            <td><button class="editbtn">Add to Cart</button></td>

        </tr>
        <tr>
            <td>Burger</td>
            <td>What could be the description</td>
            <td>40.98</td>
            <td><input type="number" name="quantity" value="0" min="0" max="5"></td>
            <td><button class="editbtn">Add to Cart</button></td>

        </tr>
        <tr>
            <td>Burger</td>
            <td>What could be the description</td>
            <td>40.98</td>
            <td><input type="number" name="quantity" value="0" min="0" max="5"></td>
            <td><button class="editbtn">Add to Cart</button></td>

        </tr>
        <tr>
            <td>Burger</td>
            <td>What could be the description</td>
            <td>40.98</td>
            <td><input type="number" name="quantity" value="0" min="0" max="5"></td>
            <td><button class="editbtn">Add to Cart</button></td>

        </tr>

    </table>
</div>
<div style="height:60px"></div>