
@{
    ViewBag.Title = "TrackOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .writing{
        padding-top:50px;
        padding-left:50px;
        padding-right:50px;
    }
    .textbox{
        align-self:center;
        padding:40px;
    }
</style>

<h2 class="writing">Track Your Order Here</h2>
<div class="textbox">

    <input type="text" class="form-control" placeholder="Track Your Order">
    <div style="height:20px"></div>

    <button type="button" style="float:right" class="btn btn-light">TRACK ORDER</button>
</div>
