
@{
    ViewBag.Title = "AddFoodCategories";
    Layout = "~/Views/Shared/AdminLayoutPage.cshtml";
}

<h2>Add Food Category</h2>
<style>
    .writings {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .textbox {
        align-self: center;
        padding: 40px;
    }
</style>

<div class="textbox">

    <input type="text" class="form-control" placeholder="Category Name">
    <div style="height:20px"></div>

    <input type="text" class="form-control" placeholder="Category Description">
    <div style="height:20px"></div>




    <button type="button" style="float:right;padding-right:30px" class="btn btn-light">Add Food Category</button>
    <div style="padding-right:20px"></div>
</div>




