
@{
    ViewBag.Title = "OrdersReport";
    Layout = "~/Views/Shared/AdminLayoutPage.cshtml";
}

<h2>Orders Report</h2>

<style>
    .table {
        padding: 40px;
    }
</style>

<div style="height:60px"></div>

<div style="padding-left:40px; padding-right:40px">
    <table class="table table-bordered table-responsive table-hover">
        <tr class="table">
            <th>Order ID </th>
            <th>Dated</th>
            <th>Total Items</th>
            <th>Total Price</th>
            <th>Status</th>
            <th>Details</th>
        </tr>
        <tr>
            <td>123_Or1</td>
            <td>17-11-18</td>
            <td>2</td>
            <td>130</td>
            <td>Completed</td>
            <td><a href="/Chef/DetailsOrder" class="smoothScroll">View Details</a></td>

        </tr>
        <tr>
            <td>123_Or2</td>
            <td>17-11-18</td>
            <td>5</td>
            <td>200</td>
            <td>Pending</td>
            <td><a href="/Chef/DetailsOrder" class="smoothScroll">View Details</a></td>

        </tr>
        <tr>
            <td>123_Or3</td>
            <td>17-11-18</td>
            <td>8</td>
            <td>20</td>
            <td>Completed</td>
            <td><a href="/Chef/DetailsOrder" class="smoothScroll">View Details</a></td>

        </tr>
        <tr>
            <td>123_Or4</td>
            <td>17-11-18</td>
            <td>5</td>
            <td>130</td>
            <td>Completed</td>
            <td><a href="/Chef/DetailsOrder" class="smoothScroll">View Details</a></td>

        </tr>
        <tr>
            <td>123_Or5</td>
            <td>17-11-18</td>
            <td>9</td>
            <td>550</td>
            <td>Pending</td>
            <td><a href="/Chef/DetailsOrder" class="smoothScroll">View Details</a></td>

        </tr>
        <tr>
            <td>123_Or6</td>
            <td>17-11-18</td>
            <td>10</td>
            <td>900</td>
            <td>Completed</td>
            <td><a href="/Chef/DetailsOrder" class="smoothScroll">View Details</a></td>

        </tr>


    </table>
</div>
<div style="height:60px"></div>
