
@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/AdminLayoutPage.cshtml";
}

<h2>Reviews</h2>
<style>
    .table {
        padding: 40px;
    }
</style>

<div style="height:60px"></div>

<div style="padding-left:40px; padding-right:40px">
    <table class="table table-bordered table-responsive table-hover">
        <tr class="table">
            <th>Sr No.</th>
            <th>Reviews details</th>
        </tr>
        <tr>
            <th>1</th>
            <td>OH My GOD!Your Food was sooo Good.</td>


        </tr>
        <tr>
            <th>2</th>
            <td>You should add some cheese more in pasta.</td>


        </tr>
        <tr>
            <th>3</th>
            <td>You Molten Lava was Heaven on earth.</td>


        </tr>
        <tr>
            <th>4</th>
            <td>Taragon Chicken was not hot.Try to provide fast service.</td>


        </tr>


    </table>
</div>
<div style="height:60px"></div>

